#APRENDIENDO PANDAS

##INTRODUCCIÓN

In [2]:
import pandas as pd
import numpy as np

In [4]:
dic={'autos':['VW','Nissan','Ford'],'color':['rojo','azul','negro']}
autos_posibles=['VW','Nissan','Ford','Renault', 'Toyota','chevrolet']
colores_posibles=['rojo','azul','negro','amarillo','plata', 'blanco']

In [5]:
A=[]
C=[]
for i in range(500):
    A.append(np.random.choice(autos_posibles))
    C.append(np.random.choice(colores_posibles))

In [6]:
dic2={'autos':A,'color':C}

In [7]:
pd.DataFrame(dic2)

       autos     color
0       Ford     negro
1     Nissan     negro
2    Renault  amarillo
3    Renault      rojo
4    Renault     plata
..       ...       ...
495       VW     negro
496   Toyota      rojo
497   Nissan      azul
498   Toyota     negro
499  Renault  amarillo

[500 rows x 2 columns]

In [8]:
DataCoches=pd.DataFrame(dic2)

In [9]:
#HACER LLAMADOS DE LOS COCHES DE LA COLUMNA autos
DataCoches['autos']

0         Ford
1       Nissan
2      Renault
3      Renault
4      Renault
        ...
495         VW
496     Toyota
497     Nissan
498     Toyota
499    Renault
Name: autos, Length: 500, dtype: object

In [10]:
# hacer llamados de todos los colores posibles de DataCoches
DataCoches['color']

0         negro
1         negro
2      amarillo
3          rojo
4         plata
         ...
495       negro
496        rojo
497        azul
498       negro
499    amarillo
Name: color, Length: 500, dtype: object

In [11]:
v=[]
for i in range(500):
    v.append(np.random.choice(range(10,121)))

In [12]:
DataCoches['velocidad']=v

In [13]:
DataCoches

       autos     color  velocidad
0       Ford     negro         89
1     Nissan     negro         84
2    Renault  amarillo         53
3    Renault      rojo         42
4    Renault     plata         85
..       ...       ...        ...
495       VW     negro         26
496   Toyota      rojo         10
497   Nissan      azul         12
498   Toyota     negro         56
499  Renault  amarillo         87

[500 rows x 3 columns]

In [14]:
#agrupando grupo de autos con colores y sus velocidades y sacando su media 
DataCoches.groupby('color')['velocidad'].mean()

color
amarillo    65.460674
azul        66.227273
blanco      65.229885
negro       60.032967
plata       72.100000
rojo        63.586667
Name: velocidad, dtype: float64

In [15]:
DataCoches.groupby('color')['velocidad'].sum()

color
amarillo    5826
azul        5828
blanco      5675
negro       5463
plata       5047
rojo        4769
Name: velocidad, dtype: int64

In [16]:
DataCoches.groupby('color')['velocidad'].count()

color
amarillo    89
azul        88
blanco      87
negro       91
plata       70
rojo        75
Name: velocidad, dtype: int64

In [17]:
DataCoches.groupby('color')['velocidad'].describe()

          count       mean        std   min    25%   50%    75%    max
color
amarillo   89.0  65.460674  32.635402  11.0  36.00  65.0   91.0  119.0
azul       88.0  66.227273  31.523291  11.0  39.75  63.5   96.0  120.0
blanco     87.0  65.229885  32.345411  10.0  36.50  68.0   93.5  119.0
negro      91.0  60.032967  31.738673  10.0  30.50  61.0   88.5  119.0
plata      70.0  72.100000  33.730024  10.0  43.50  79.5  103.5  119.0
rojo       75.0  63.586667  30.731221  10.0  37.50  66.0   84.5  120.0

In [24]:
DataCoches.pivot_table(index='autos',columns='color',aggfunc='count',margins=True,margins_name='Total')

          velocidad
color      amarillo azul blanco negro plata rojo Total
autos
Ford             18   16     22    15     8    9    88
Nissan           20   16     13    18     8   11    86
Renault          13   21     14     9    16   11    84
Toyota           15   16     14    19    17   10    91
VW               12    8     11    19     6   15    71
chevrolet        11   11     13    11    15   19    80
Total            89   88     87    91    70   75   500

In [25]:
DataCoches.pivot_table(index='autos',columns='color',aggfunc='count',margins=True,margins_name='Total').to_csv('tablasCoches.csv')

In [27]:
DataCoches.pivot_table(index='autos',columns='color',aggfunc='count',margins=True,margins_name='Total').to_excel('tablasCoches.xlsx')

##